
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@font-face {
  font-family: 'Lacroom';
  src: url('/fonts/Lacroom.woff2') format('woff2'),
    url('/fonts/Lacroom.otf') format('opentype'),
    url('/fonts/Lacroom.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --coral: #FF7043;
  --dark-text: #1A1A1A;
  --light-text: #666666;
  --white: #FFFFFF;
}

body {
  font-family: 'Urbanist', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--dark-text);
  background-color: var(--white);
}

@theme {
  --font-lacroom: "Lacroom", serif;
  --font-urbanist: "Urbanist", sans-serif;
  --color-coral: var(--coral);
}